<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cz.android.sample.library">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:networkSecurityConfig="@xml/network_security_config">

        <activity android:name=".appcompat.SampleFragmentContainerActivity" />
        <activity android:name=".main.hierarchy.SampleHierarchyActivity"></activity>

        <provider
            android:name=".provider.AppCompatSampleContentProvider"
            android:authorities="${applicationId}" />
    </application>

</manifest>